<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>
        Pessoas
    </title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
    <link href="css/fonts.css" rel="stylesheet" />
    <link href="css/font-awesome.min.css" rel="stylesheet" />
    <!-- CSS Files -->
    <link href="css/bootstrap.min.css" rel="stylesheet" />
    <link href="css/paper-dashboard.css?v=2.0.0" rel="stylesheet" />

</head>

<body class="">
    <div class="wrapper ">
        <div class="sidebar" data-color="white" data-active-color="primary">
            <div class="logo">
                <a href="#" class="simple-text logo-mini">
                    <div class="logo-image-small">
                        <img src="img/logo-small.png">
                    </div>
                </a>
                <a href="#" class="simple-text logo-normal">
                    Pessoas
                </a>
            </div>
            <div class="sidebar-wrapper">
                <ul class="nav">
                    <li>
                        <a href="./index">
                            <i class="nc-icon nc-shop"></i>
                            <p>Home</p>
                        </a>
                    </li>
                    <li>
                        <a data-toggle="collapse" href="#collapseCadastro" class="collapsed">
                            <i class="nc-icon nc-badge"></i>
                            <p>Cadastro</p>
                        </a>
                        <div class="collapse" id="collapseCadastro">
                            <ul class="nav">
                                <li class="nav-link">
                                    <a href="cadastroPessoa">
                                        <small>
                                            <i class=" nc-icon nc-single-02"></i>
                                            <p>Pessoa</p>
                                        </small>
                                    </a>
                                </li>
                                <li class="nav-link">
                                    <a href="cadastroTelefone">
                                        <small>
                                            <i class=" nc-icon nc-mobile"></i>
                                            <p>Telefone</p>
                                        </small>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="active">
                        <a data-toggle="collapse" href="#collapseLista" class="collapse collapesed" aria-expanded="true">
                            <i class="nc-icon nc-paper"></i>
                            <p>Lista</p>
                        </a>
                        <div class="collapsed collapse show" id="collapseLista">
                            <ul class="nav">
                                <li class="active nav-link">
                                    <a href="listaPessoas">
                                        <small>
                                            <i class=" nc-icon nc-single-02"></i>
                                            <p>Pessoa</p>
                                        </small>
                                    </a>
                                </li>
                                <li class="nav-link">
                                    <a href="listaTelefones">
                                        <small>
                                            <i class=" nc-icon nc-mobile"></i>
                                            <p>Telefone</p>
                                        </small>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="main-panel">
            <nav class="navbar navbar-expand-lg navbar-absolute fixed-top navbar-transparent">
                <div class="container-fluid">
                    <div class="navbar-wrapper">
                        <div class="navbar-toggle">
                            <button type="button" class="navbar-toggler">
                                <span class="navbar-toggler-bar bar1"></span>
                                <span class="navbar-toggler-bar bar2"></span>
                                <span class="navbar-toggler-bar bar3"></span>
                            </button>
                        </div>
                        <a class="navbar-brand" href="#">Pessoas</a>
                    </div>
                </div>
            </nav>
            <div class="content">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title"> Pessoas Cadastradas</h4>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-striped text-center">
                                        <thead class=" text-primary">
                                            <th>
                                                Nome
                                            </th>
                                            <th>
                                                Apelido
                                            </th>
                                            <th>
                                                Sexo
                                            </th>
                                            <th>
                                                Data Nascimento
                                            </th>
                                            <th></th>
                                        </thead>
                                        <tbody>
                                            <% data.forEach(function(item) { %>

                                                <tr>
                                                    <td>
                                                        <%= item.pes_nome %>
                                                    </td>
                                                    <td>
                                                        <%= item.pes_apelido %>
                                                    </td>
                                                    <td>
                                                        <%= item.pes_sexo %>
                                                    </td>
                                                    <td>
                                                        <%= item.pes_dtnascimento %>
                                                    </td>
                                                    <td>
                                                        <a class="btn btn-sm btn-outline-warning btn-round btn-icon" href="cadastroPessoa?id=<%= item.pes_codigo %>" data-toggle="tooltip" data-placement="top" title="Editar"><i class="fa fa-pencil"></i></a>
                                                        <a class="btn btn-sm btn-outline-danger btn-round btn-icon" href="removerPessoa?id=<%= item.pes_codigo %>"><i class="fa fa-ban" data-toggle="tooltip" data-placement="top" title="Excluir"></i></a>
                                                        <a class="btn btn-sm btn-outline-primary btn-round btn-icon" href="listaTelefones?id=<%= item.pes_codigo %>"><i class="fa fa-bars" data-toggle="tooltip" data-placement="top" title="Lista Telefones"></i></a>
                                                        <a class="btn btn-sm btn-outline-success btn-round btn-icon" href="cadastroTelefone?id_pessoa=<%= item.pes_codigo %>"><i class="fa fa-phone" data-toggle="tooltip" data-placement="top" title="Adicionar Telefone"></i></a>
                                                    </td>
                                                </tr>

                                                <% }) %>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <footer class="footer footer-black  footer-white ">
                <div class="container-fluid">
                    <div class="row">
                        <div class="credits ml-auto">
                            <span class="copyright">
                                ©
                                <script>
                                document.write(new Date().getFullYear())
                                </script>, Yuri Oliveira de Paula
                            </span>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <script src="js/core/jquery.min.js"></script>
    <script src="js/core/popper.min.js"></script>
    <script src="js/core/bootstrap.min.js"></script>
    <script src="js/plugins/perfect-scrollbar.jquery.min.js"></script>
    <script src="js/plugins/bootstrap-notify.js"></script>
    <script src="js/paper-dashboard.min.js?v=2.0.0" type="text/javascript"></script>

    <script>
        $(function() {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>

</body>

</html>